/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
body {
    width:800px;
    margin: 0 auto;
    padding: 0 auto;
	text-align: center;
    
}
.tophead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
.logo {
    width: 22%;
    padding: 20px;
    margin: 1px 15px 0px 10px;
    padding-bottom: 28px; 
}
.nav-item {
    display: inline-block;
    width: 58px;
	margin: 20px 5px 10px 44px; 
	padding: 0px;
	color: black;
}
.img {
	margin: 10px; 
	padding:10px;
	text-align: center;
}
.header1 {
    margin: 1px; 
	padding:10px;
	text-align: center;
}
.topbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px; 
    border-bottom: 1px dashed black;
}
.tboxl {
    text-align: justify;
    width: 100%;
	padding: 70px 10;
    margin: 5px 10px;
    
}
.tboxr {
    text-align: justify;
    width: 100%;
    padding: 70px 10;
    margin: 5px;
    
}
.timgl {
    height: 220px;
    margin: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-left: auto;
}
.timgr {
    height: 220px;
    margin: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-left: auto;
}
.bottombox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px; 
    border-bottom: 1px  dashed black;
}
.bboxl  {
    text-align: justify;
    width: 100%;
	padding: 70px 10;
    margin-bottom: 20px;
    
}
.bboxr {
    text-align: justify;
    width: 100%;
    padding: 70px 10;
    margin-bottom: 20px;
    
    
}
.bimgl {
    height: 220px;
    margin: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-left: auto;
}
.bimgr {
    height: 220px;
    margin: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-left: auto;
}

p {
    text-align: left;
    line-height: 1.4;
}
button {
    background-color: white;
    text-align: middle;
    float: left
}
.bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
    
}
.overview {
    text-align: top;
    width: 100%;
    float: left;
    margin: 14px;
}                           
footer {
    width:800px;
    height: 100%;
    background: black;
    padding-bottom: 100px;
    padding: 20px 2%;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.nav2 {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width:100%;
    align-items: left;
    
  }
  
  .nav2 a {
    color: white;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 8px auto;
    float: left;
  }
